# Instaladores
*.deb

#env
.venv/
__pycache__/
*.pyc
.env

#html
*.html
!landing_raw/navios_previstos_example.html
!landing_raw/navios_fundeados_example.html
!landing_raw/navios_atracados_example.html
!landing_raw/manobras_realizadas_example.html
!landing_raw/manobras_previstas_example.html

#parquet
silver/
*.parquet
!*_example.parquet

# Logs
logs/
*.log

# VS Code
.vscode/
*.code-workspace
