# Instaladores
*.deb

#env
.venv/
__pycache__/
*.pyc
.env

#html
*.html
!landing/navios_previstos_example.html
!landing/navios_fundeados_example.html
!landing/navios_atracados_example.html
!landing/manobras_realizadas_example.html
!landing/manobras_previstas_example.html

#parquet
silver/
*.parquet
!example.parquet

# Logs
logs/
*.log